
.display-flex{
    display: flex;
}
.flex-direction-row{
    flex-direction: row;
}
.flex-direction-row-reverse{
    flex-direction: row-reverse
}
.flex-direction-column{
    flex-direction: column;
}
.flex-direction-colum-reverse{
    flex-direction: column-reverse
}

.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content:flex-end;
}

.align-items-center{
    align-items: center;
}